{% include 'top.html' %}
<div class="content">
    <div class="container my-4">

        <h2 class="title"> Update Airport </h2>

        <form class="needs-validation" method="POST" action="{{url_for('add_airport')}}" novalidate>

            <div class="form-group">
                <label for="airportid">Airport ID:</label>
                <input type="text" class="form-control" id="airportid" name="airportid" value="{{airports.get('airportid', '')}}" value="Enter airport ID here" required>
                <div class="invalid-feedback">Please enter an airport ID.</div>
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{airports.get('name', '')}}" placeholder="Enter airport name here" required>
                <div class="invalid-feedback">Please enter an airport name.</div>
            </div>

            <div class="form-group">
                <label for="iatacode">IATA Code:</label>
                <input type="text" class="form-control" id="iatacode" name="iatacode" value="{{airports.get('iatacode', '')}}" placeholder="Enter IATA code here" required>
                <div class="invalid-feedback">Please enter an IATA code.</div>
            </div>

            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city" name="city" value="{{airports.get('city', '')}}" placeholder="Enter airport city here" required>
                <div class="invalid-feedback">Please enter a city.</div>
            </div>

            <div class="form-group">
                <label for="country">Country:</label>
                <input type="country" class="form-control" id="country" name="country" value="{{airports.get('country', '')}}" placeholder="Enter airport country here" required>
                <div class="invalid-feedback">Please enter a country.</div>
            </div>

            <button class="btn btn-primary" type="submit">Confirm</button>
        </form>

    </div>
</div>
{% include 'end.html' %}
